<h1>New restaurant</h1>
<%= form_for(@restaurant) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control'%>
  <%= f.label :address %>
  <%= f.text_field :address, class: 'form-control'%>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number, class: 'form-control'%>
   <%= f.label :category %>
  <%= f.select :category, ["chinese", "italian", "japanese", "french", "belgian"]%>

  <%= f.submit class: 'btn btn-primary'%>
<% end %>
<%= link_to "Back to list", restaurants_path %>
